<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="UTF-8">
	<title>购物车</title>
	<link rel="stylesheet" type="text/css" href="./css/normalize.css">
	<link rel="stylesheet" type="text/css" href="./css/main.css">
	<link rel="shortcut icon" type="image/x-icon" href="./img/favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body ng-app="jd">
	<div class="container" ng-controller="jdcar">
	<!-- 导航栏部分 -->
		<div class="nav" ng-show="goodsChecked.length>0">
			<a href="#" class="nav_address">深圳市南山区</a>
			<div class="nav_select">
				<div class="nav_select_wrapper">
					<ul>
						<li>
							全部商品
						</li>
					</ul>
				</div>
				<i></i>
			</div>
			<span class="nav_btn">分享</span>
			<span class="nav_btn" ng-click="editFunc()" ng-if="!toEdit">编辑</span>
			<span class="nav_btn" ng-click="editFunc()" ng-if="toEdit">完成</span>
		</div>
		<!-- 购物车清单部分,ng-if的值为false的时候，会从DOM中移除html元素,否则会创建一个新的元素插入DOM中 -->
		<div class="shopList" ng-if="goodsChecked.length">
			<!-- 店铺 -->
			<div class="shopList_section">
				<div class="section_head">
					<div class="section_head_contain">
						<i class="icon-select icon-select-pos icon-select-all" ng-click="checkAll()" id="icon-all">	
						</i>
						<i class="icon-shop"></i>
						<span class="icon-shop_title">汉斋女装旗舰店</span>
					</div>
				</div>
				<!-- 商品 -->
				<div class="section_content">
					<div class="section_content_head">
						<span class="tag">满减</span>
						<p class="content_head_title">购满2件，即可享受满减</p>
					</div>
					<div class="section_content_goods-wrap" ng-repeat="item in goodsChecked">
						<div class="goods">
							
							<i class="icon-select icon-select-pos icon-check" ng-click="singleCheck(item)"></i>
							<a href="https://wqitem.jd.com/item/view?sku=10828388502#main" class="goods_link">
								<img class="image" alt="img1" ng-src="{{item.image}}">	<!-- 确保angularjs代码执行前不显示图片-->
							</a>
							<div class="goods_content">
								<div class="name">
									{{item.name}}
								</div>
								<p class="sku">
									{{item.version}}
								</p>
								<p class="price">
									￥<em class="int">{{item.price}}</em>.00
								</p>  
								<div class="num-and-more">
									<div class="num-and-more_contain">
										<span class="num-minus" ng-click="decreaseCount(item)"></span>
										<div class="num-wrap">
											<input type="number" class="input-num"  ng-model="item.count">
										</div>
										<span class="num-add" ng-click="addCount(item)"></span>
									</div>
								</div>
					
								   
							</div>
						
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 购物车为空时出现的盒子,ng-hide为true时，隐藏元素，是通过css来实现的-->
		<div class="shop-none" ng-hide="goodsChecked.length>0">
		    <div class="shop-none_contain">
		    	<i class="shop-none_icon"></i>
				<p class="shop-none_title">您的购物车内还没有商品！</p>
				<div class="shop-none_btncon">
					<a href="https://wqs.jd.com/my/index.shtml?shownav=1" class="shop-none_btn shop-none_btn1">个人中心</a>
					<a href="https://wqs.jd.com/portal/wx/category_m.shtml?shownav=1&ptag=37147.1.1" class="shop-none_btn">随便逛逛</a>
				</div>
		    </div>
			
		</div>
		<div class="commdity">
			<h3 class="commdity_title">
				<span>可能你还想要</span>
			</h3>
			<ul class="commdity_list">
				<li ng-repeat="item in goodsData" >
					<div class="list_pic">
						<img ng-src="{{item.image}}" alt="图片">
					</div>
					<p class="list_name">{{item.name}}
					</p>
					<div class="list_price">
						<div class="list_price_price">
							<div class="price">¥ <em >{{item.price}}</em>.00</div>
						</div>
					</div>
					<div class="list_price_buy" ng-click="addGoods(item)"></div>
				</li>
				
			</ul>
		</div>
		<div class="fixBar" ng-if="toEdit">
			<div class="fixBar_btns">
				<div class="btns_add">移至收藏</div>
				<div class="btns_delete" ng-click="deleteGood()">删除</div>
			</div>
		</div>
		<div class="fixCount" ng-if="!toEdit">
			<div class="fixCount_total">
			<!-- number:2两位小数 -->
				<p>总计：<strong>￥{{totalValue| number:2}}</strong><small>(不含运费，已优惠<span id="totalBackMoney">¥0.00</span>)</small></p>
				<a href="javascript:;" class="fixCount_btn" id="shopCartConfirm">去结算<em id="totalNum" totalnum="2">({{sum}}件)</em></a>

			</div>
		</div>
	</div>

</body>
<script src="./js/angular.min.js"></script> 
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="./js/main.js"></script>



</html>