body{
	margin: 0;
	padding: 0;
}
.head{
	width: 100%;
	text-align: center;
}

.center{
	width: 100%;
	text-align: center; 
	height: 200px;
	
}
span{
	font-size: 18px;
	color: red;
	margin-left: 10px;
}